<div class="app-header flex justify-around">
  <div class="logo-header">
    <img src="assets/images/logo.png">
  </div>
  <div class="options-header pt-3">
    <ul class="flex justify-evenly ">
      <li class="mr-[60px]"><a href="#" class="text-3xl text-[#A02D27] font-[400] hover:text-3xl">Trang chủ</a></li>
      <li class="mr-[60px]"><a href="#" class="text-3xl text-[#A02D27] hover:text-3xl">Giới thiệu</a></li>
      <li class="mr-[60px]"><a href="#" class="text-3xl text-[#A02D27] hover:text-3xl">Gia phả</a></li>
      <li class="mr-[60px]"><a href="#" class="text-3xl text-[#A02D27] hover:text-3xl">Tin tức</a></li>
      <li class=""><a href="#" class="text-3xl text-[#A02D27] hover:text-3xl">Liên hệ</a></li>
    </ul>
  </div>
</div>
