<div class="custom-container mt-[25px]">
  <table class="custom-table">
    <thead>
    <tr>
      <th *ngFor="let header of headers" class="pt-[15px]" [style.min-width.px]="getColumnWidth(header)">
        {{ header }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of filteredData; let i = index">
      <ng-container *ngFor="let header of headers" >
        <td [class.border-b]="i > 0">{{ row[header] }}</td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
