<div class="app-header flex justify-around">
  <div class="logo-header">
    <img src="assets/images/logo.png">
  </div>
  <div class="options-header pt-3">
    <ul class="flex justify-evenly">
      <li class="mr-[60px]">
        <div class="flex flex-col">
          <a [routerLink]="['home']" class="text-4xl text-[#A02D27] font-[500] hover:text-4xl">Trang chủ</a>
          <div *ngIf="navService.currentPage === pageEnum.home" class="pt-[5px]">
            <img src="assets/images/underlined.png" class="mx-auto w-[65px] h-[14px]" alt="">
          </div>
        </div>
      </li>
      <li class="mr-[60px]">
        <div class="flex flex-col">
          <a [routerLink]="['about']" class="text-4xl text-[#A02D27] hover:text-4xl">Giới thiệu</a>
          <div *ngIf="navService.currentPage === pageEnum.about" class="pt-[5px]">
            <img src="assets/images/underlined.png" class="mx-auto w-[65px] h-[14px]" alt="">
          </div>
        </div>
      </li>
      <li class="mr-[60px]">
        <div class="flex flex-col">
          <a [routerLink]="['familyTree']" class="text-4xl text-[#A02D27] hover:text-4xl">Gia phả</a>
          <div *ngIf="navService.currentPage === pageEnum.familyTree" class="pt-[5px]">
            <img src="assets/images/underlined.png" class="mx-auto w-[55px] h-[14px]" alt="">
          </div>
        </div>
      </li>
      <li class="mr-[60px]">
        <div class="flex flex-col">
          <a [routerLink]="['news', 'all']" class="text-4xl text-[#A02D27] hover:text-4xl">Tin tức</a>
          <div *ngIf="navService.currentPage === pageEnum.news" class="pt-[5px]">
            <img src="assets/images/underlined.png" class="mx-auto w-[55px] h-[14px]" alt="">
          </div>
        </div>
      </li>
      <li class="">
        <div class="flex flex-col">
          <a [routerLink]="['contact']" class="text-4xl text-[#A02D27] hover:text-4xl">Liên hệ</a>
          <div *ngIf="navService.currentPage === pageEnum.contact" class="pt-[5px]">
            <img src="assets/images/underlined.png" class="mx-auto w-[55px] h-[14px]" alt="">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
