
.single{
  width: 100%;
  position: relative;
  //background: aqua;
  .menu{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/images/news/menu.png");
  }
  .new-post{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../../assets/images/news/new_post.png");
    .last-post hr{
      display: none;
    }
    hr{
      width: 90%;
      height: 2px;
      opacity: 0.2;
      color: #9E2B25;
      background-color: #9E2B25;
    }
  }
}
.box-news-background{
  width: 100%;
  position: relative;

  .article-list{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/images/news/img_news_background.png");
    .tab-btn-active {
      color: #9E2B25;
      opacity: 0.5; /* Mờ đi */
    }
    .pagination-btn-active{
      color: #9E2B25;
      opacity: 0.5;
    }

  }

}
