
<!--<img src="assets/images/image_banner/banner1.jpg">-->
<section class="testimonial">
  <div class="containers ">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide >
        <div class="testimonial-image">
          <img src="assets/images/image_banner/banner1.jpg" alt="Testimonial">
        </div>
      </ng-template>
      <ng-template carouselSlide >
        <div class="testimonial-image">
          <img src="assets/images/image_banner/banner1.jpg" alt="Testimonial">
        </div>
      </ng-template>
      <ng-template carouselSlide >
        <div class="testimonial-image">
          <img src="assets/images/image_banner/banner1.jpg" alt="Testimonial">
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
