.box-image{
  width: 100%;
}

.box-img-introduce{
  width: 100%;
  position: relative;

  .box-introduce {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../assets/images/image_banner/box_gt.jpg");
    //background-image: url("");
    //height: 558px;
    object-fit: contain;
  }

  .img-introduce{
    object-fit: cover;
  }
  .img-introduce-bn{
    object-fit: cover;
  }
  .title-introduce {
    line-height: 48px;
    p{
      font-weight: 400;
      color: #f6f9ff;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

::ng-deep carousel{
  z-index: 0!important;
  .carousel-arrow-disabled {
    display: none !important;
  }
  .carousel-arrow-next {
    right: -50px !important;
  }
  .carousel-arrow-next:hover {
    background-color: #f6f9ff !important;
  }
  .carousel-arrow-prev {
    left: -50px !important;
  }
  .carousel-arrow-prev:hover {
    background-color: #f6f9ff !important;
  }
}
