<div #container class="box-image">
  <carousel
    class="h-[700px] mx-auto"
    [images]="images"
    [cellsToShow]="1"
    [loop]="true"
    [height]="(container.offsetWidth - 200) * 0.5"
    [width]="container.offsetWidth - 200"
    [autoplay]="true"
    [autoplayInterval]="5000"
  ></carousel>

</div>
<div class="box-img-introduce w-full relative">
  <div
    class="box-introduce w-[1100px] px-[72px] mx-auto mt-[80px] rounded-[20px] py-[40px]">
    <img src="assets/images/image_banner/gioithieu.png" width="336px" height="129px" class="img-introduce mx-auto">
    <img src="assets/images/image_banner/banner_introduce.png" class="img-introduce-bn w-full aspect-[1055/218] mt-[48px] mx-auto">

    <div class="title-introduce border border-[#FFFFFF] mx-auto mt-[20px] p-[20px] ">
      <div class="text-2xl font-[600] not-italic text-white uppercase">HỌ Ngô Tam Sơn và đền thờ TN Ngô Miễn Thiệu</div>
      <div class="py-[10px]"><p>Di tích lịch sử đền thờ Trạng nguyên Ngô Miễn Thiệu còn gọi là Nhà thờ các vị Đại khoa họ Ngô thuộc xóm Xanh, thôn Tam Sơn, phường Tam Sơn, thành phố Từ Sơn, tỉnh Bắc Ninh </p></div>
      <p>{{content}} <a *ngIf="showMore">{{additionalContent}}</a><button (click)="toggleContent()" class="font-semibold">{{showMore ? ' Ẩn bớt' : '...Xem thêm'}}</button></p>
    </div>
  </div>
</div>
