$top-distance: 500px;
.box-genealogy{
  position: relative;
  .selection-tree {
    mat-form-field{
      width: 134px;
      ::ng-deep .mdc-notched-outline > * {
        border-color: #0000001C !important;
      }
      ::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
        border-color: #9E2B25 !important;
      }
      ::ng-deep .mdc-notched-outline__notch {
        border-right: none !important;
      }
    }
  }
  .tree-select-holy{
    max-width: 400px;
    margin: 20px auto;
  }
  .random-image1 {
    position: absolute;
    background-image: url('../../../assets/images/dragon_tree.png');
    background-size: 100% 100%;
    width: 18%;
    height: 760px;
    right: 100px;
    top: $top-distance * 2;
  }
  .random-image3 {
    position: absolute;
    background-image: url('../../../assets/images/dragon_tree1.png');
    background-size: 100% 100%;
    width: 18%;
    height: 850px;
    left: 50px;
    top: $top-distance * 1.5;
    mix-blend-mode: darken;
  }
  .search-container {
    display: flex;
    align-items: center;
    .input-container {
      position: relative;
      input[type="text"] {
        width: 600px;
        height: 48px;
        border-radius: 4px;
        padding-left: 38px;
        border: 1px solid transparent;
        background: #FFFFFFBD; /* Màu nền của input */
        border-image: linear-gradient(to right, #F4CFA5, #F6BA73) 1;
      }
      .input-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #F4CFA5, #F6BA73);
      }
      .clear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 13px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: #9B9B9B;
      }
      .hint-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #9B9B9B;
      }
    }
    .search-button {
      width: 48px;
      height: 48px;
      background: linear-gradient(to left, #F4CFA5, #F6BA73);
      cursor: pointer;
    }
    .tab-data{
      width: auto;
      height: 48px;
      border-radius: 4px;
      border: 1px solid transparent;
      border-image: linear-gradient(to right, #F4CFA5, #F6BA73) 1;
    }
  }
  .statistics-overview {
    width: 100%;
    position: relative;
    font-family: Ambrosia;
    .bg-statistics {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url("../../../assets/images/family_tree/bg_count.png");
      object-fit: contain;
    }
  }
}

