<div class="box-img-footer w-full relative">
  <div class="app-footer mt-[80px] py-[40px]">
<!--    <img src="assets/images/image_footer.jpg" class="image-box">-->
    <img src="assets/images/logo_white.png" width="95px" height="95px" class="image-child mx-auto">
    <div class="pt-[74px] pb-[32px]">
      <ul class="flex justify-center">
        <li class="mr-[35px]"><a href="#" class="text-sm font-normal text-white hover:text-sm">Trang chủ</a></li>
        <li class="mr-[35px]"><a href="#" class="text-sm font-normal text-white hover:text-sm">Giới thiệu</a></li>
        <li class="mr-[35px]"><a href="#" class="text-sm font-normal text-white hover:text-sm">Gia phả</a></li>
        <li class="mr-[35px]"><a href="#" class="text-sm font-normal text-white hover:text-sm">Tin tức</a></li>
        <li class=""><a href="#" class="text-sm font-normal text-white hover:text-sm">Liên hệ</a></li>
      </ul>
    </div>
    <hr class="mx-auto">
    <div class="pt-[22px]  text-white flex justify-center">
      Non Copyrighted © 2023 Upload by Yolo Tech
    </div>
  </div>
</div>
