.app-home {
  background: aqua;
}

.box-image{
  width: 100%;
}


.box-img-history{
  width: 100%;
  position: relative;
  .top-img-history{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
  }
  .box-history{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../../assets/images/image_banner/box_gt.jpg");
    object-fit: contain;

    .border-history{
      position: relative;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url("../../../assets/images/image_banner/border_history.png");
      object-fit: contain;
      .title-history {
      }
    }
  }
  .img-history{
    object-fit: cover;
  }
}


.box-img-introduce{
  width: 100%;
  position: relative;

  .box-introduce {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../../assets/images/image_banner/box_gt.jpg");
    object-fit: contain;
  }
  .img-introduce{
    object-fit: cover;
  }
  .img-introduce-bn{
    object-fit: cover;
  }
  .title-introduce {
    line-height: 48px;
    p{
      font-weight: 400;
      color: white;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.box-img-news{
  width: 100%;
  position: relative;

  .box-news {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../../assets/images/image_banner/news.png");
    height: 874px;
    object-fit: contain;
  }
}

.box-video{
  width: 100%;
  position: relative;
  .box-img-video{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../../assets/images/image_banner/box_gt.jpg");
    object-fit: contain;
  }
}

.box-recent-posts{
  width: 100%;
  position: relative;

  .box-img-recent-posts {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../../assets/images/image_banner/news.png");
    height: 874px;
    object-fit: contain;
  }
}
//::ng-deep carousel{
//  z-index: 0!important;
//  .carousel-arrow-disabled {
//    display: none !important;
//  }
//  .carousel-arrow-next {
//    right: -50px !important;
//  }
//  .carousel-arrow-next:hover {
//    background-color: #f6f9ff !important;
//  }
//  .carousel-arrow-prev {
//    left: -50px !important;
//  }
//  .carousel-arrow-prev:hover {
//    background-color: #f6f9ff !important;
//  }
//}
